
/vendor
/web/core
/web/modules/contrib
/web/profiles
/web/sites
/web/themes/contrib
/.editorconfig
/.gitattributes
/recipes/
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/README.md
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/robots.txt
/web/update.php
/web/themes/README.txt
/web/modules/README.txt
